@use '../settings' as setting;
.c-link {
  display: block;
  font-weight: setting.fontweight(b);
  &\:tag {
    font-weight: setting.fontweight(m);
    display: inline-flex;
    &:before {
      content: '#';
      margin-right: setting.spaces(2xs);
    }
  }
  &\:breadcrumb {
    display: inline-block;
    padding: setting.spaces(xs);
    font-size: setting.fontsize(xs);
    font-weight: setting.fontweight(b);
  }
  &\:inline {
    display: inline-block;
    text-decoration: underline;
    overflow-wrap: break-word;
    word-break: break-word;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  &\:ftNav {
    color: inherit;
    font-weight: setting.fontweight(m);
    padding: setting.spaces(s);
    text-align: left;
  }
  &\:bottomCat {
    align-items: center;
    margin-top: setting.spaces(base);
    font-size: setting.fontsize(s);
    display: inline-flex;
    gap: setting.spaces(3xs);
  }
  &\:sns {
    line-height: 1;
    font-size: 1.5rem;
    color: inherit;
  }
  &\:bottomSns {
    line-height: 1;
    font-size: setting.fontsize(m);
    color: inherit;
  }
}
.c-bottom-logo {
  margin-left: auto;
  margin-right: auto;
  line-height: setting.lineheight(heading);
  font-size: 40px;
  font-family: setting.$font-family-oswald;
  font-weight: setting.fontweight(b);
  color: inherit;
  letter-spacing: 1.5px;
  &::first-letter {
    color: setting.brandcolor(base);
  }
}
.c-bottom-address {
  color: var(--c-dimmed);
  text-align: center;
}